<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zoo_Manager_Application_1._0.Properties.Settings.PanjututorialsDBConnectionString"
            connectionString="Data Source=IIOBA\HALLSQL;Initial Catalog=PanjututorialsDB;User ID=sa;Password=De@d1cell22!!;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>